<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<body>
  <div class="container">
    <table class="table">
      <thead>
        <th colspan="4"> Full URL </th>
        <th colspan="4"> Shortened forms </th>
        <th colspan="2"> Functions </th>
      </thead>
      <tbody>
        <% for (var key in urls) { %>
        <tr>
          <!-- Full URL -->
          <td colspan="4"><a href="<%= urls[key] %>" target="_blank"><%= urls[key] %></a></td>
          <!-- Short URL -->
          <td colspan="4"><a href="<%= urls[key] %>" target="_blank"><%= [key] %> </a></td>
          <td colspan="2">
            <form action="/urls/<%= [key] %>/edit" method="POST">
              <input type = "submit" value="Edit" />
            </form>
             <form action="/urls/<%= [key] %>/stats" method="POST">
              <input type = "submit" value="Stats" />
            </form>
            <!-- make next line on the same line as others?? -->
            <form action="/urls/<%= [key] %>/delete" method="POST">
              <input type = "submit" value="Delete" />
            </form>
          </td>
          </tr>
        <% } %>
      <br>
      <br>
      <tr>
        <form action="/urls/<%= [key] %>/add" method="POST">
          <input type = "submit" value="Add" />
        </form>
      </tr>
    </tbody>
</div>

</body>
</html>
