<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <title>TinyApp: URL Shortener</title>
</head>
<%- include("partials/_header") %>

<body>
  <div class="container">
    <% if (typeof user === "undefined") { %>
      <p>You must be logged in to view this page</p>
    <% } else { %>
    <table class="table">
      <thead>
        <th colspan="4"> Full URL </th>
        <th colspan="4"> Shortened forms </th>
        <th colspan="2"> Functions </th>
      </thead>
      <tbody>
        <% for (var key in urls) { %>
        <tr>
          <!-- Full URL -->
          <td colspan="4"><a href="<%= urls[key].URL %>" target="_blank"><%= urls[key].URL %></a></td>
          <!-- Short URL -->
          <td colspan="4"><a href="/u/<%= key %>" target="_blank"><%= [key] %> </a></td>
          <td colspan="2">
            <a href="/urls/<%= [key] %>" >
              <input type = "submit" value="Edit" />
            </a>
            <!-- make next line on the same line as others?? -->
            <form action="/urls/<%= [key] %>/delete" method="POST">
              <input type = "submit" value="Delete" />
            </form>
          </td>
        </tr>
        <% } %>
      <br>
      <br>

    </tbody>
  </table>
  <% } %>
</div>

</body>
</html>
